body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero {
  background-image: url('http://localhost:42000/_api/bolt.git/app/docs/images/bolt-settings-button.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.hero p {
  font-size: 1.5em;
}
